<div class="col-md-12">
  <div class="col-middle">
    <div class="text-center text-center">
      <h1 class="error-number">404</h1>
      <h2>Desculpe, mas a página que você tentou acessar não existe.</h2>
      <p>Se esta página deveria existir para você, gostaria de <a href="#">reportar um bug?</a>
      </p>
      <div class="mid_center">
        <h3>Pesquisar</h3>
        <form lpformnum="1">
          <div class="col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Pesquisar por...">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Ir!</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>