<inv-layout-default>
  <div class="row tile_count text-center">
    <div class="col-md-4 col-sm-4 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="fa fa-envelope"></i> Eventos Organizados</span>
      <div class="count">{{numEventsOrganized}}</div>
      <span class="count_bottom"><i class="green">Julho</i></span>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="fa fa-envelope"></i> Eventos Colaborados</span>
      <div class="count">{{numEventsColabored}}</div>
      <span class="count_bottom"><i class="green">Julho</i></span>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="fa fa-envelope"></i> Convites Enviados (Julho)</span>
      <div class="count">{{numInvitations}}</div>
      <span class="count_bottom"><i class="red">10% </i> Rejeitados</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="x_panel tile fixed_height_320">
        <div class="x_title">
          <h2>Eventos Recentes</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="table-responsive">
            <p-dataTable [value]="recentEvents" emptyMessage="Não há eventos recentes">
              <p-column field="name" header="Nome" sortable="true"></p-column>
              <p-column field="date" header="Data" sortable="true">
                <ng-template let-col let-event="rowData" pTemplate="body">
                  <span>{{event[col.field] | date:'dd/MM/yyyy'}}</span>
                </ng-template>
              </p-column>
              <p-column field="time" header="Hora" sortable="true">
                <ng-template let-col let-event="rowData" pTemplate="body">
                  <span>{{event[col.field].start}}h - {{event[col.field].end}}h</span>
                </ng-template>
              </p-column>
              <p-column field="userRole" header="Tipo" sortable="true"></p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</inv-layout-default>