<inv-layout-default>
  <div class="row tile_count text-center">
    <div class="col-md-2 col-sm-4 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="fa fa-envelope"></i> Eventos Organizados</span>
      <div class="count">2</div>
      <span class="count_bottom"><i class="green">1 </i> Não concluído</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="fa fa-envelope"></i> Eventos Colaborados</span>
      <div class="count">3</div>
      <span class="count_bottom"><i class="green">1 </i> Não concluídos</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4 tile_stats_count">
      <span class="count_top"><i class="fa fa-envelope"></i> Convites Enviados (Julho)</span>
      <div class="count">191</div>
      <span class="count_bottom"><i class="red">20% </i> Rejeitados</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="x_panel tile fixed_height_320">
        <div class="x_title">
          <h2>Eventos Recentes</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Tipo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Evento de Inauguração do Invite.Me</th>
                <td>30/07/2017</td>
                <td>19:30:00</td>
                <td>Organizado</td>
              </tr>
              <tr>
                <th scope="row">Marombas Party 2.0</th>
                <td>25/06/2017</td>
                <td>20:00:00</td>
                <td>Convidado</td>
              </tr>
              <tr>
                <th scope="row">Casamento do Irineu</th>
                <td>30/06/2017</td>
                <td>19:00:00</td>
                <td>Convidado</td>
              </tr>
              <tr>
                <th scope="row">Festa Cultural IFES 2017</th>
                <td>10/07/2017</td>
                <td>13:00:00</td>
                <td>Colaborador</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</inv-layout-default>